body {
  font-family: "League Spartan", sans-serif;
  font-size: x-large;
  margin: 0px;
  color: #fff;
  background-color: rgb(15, 15, 15);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 1000px; /* Adjust max-width as needed */
  padding:20px;
}

h1 {
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:rgb(85, 132, 236);
  margin: 20vh;
  margin-bottom: 0vh;
  animation: gradientMove 3s ease infinite;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 600;
  font-style: normal;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


#headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh;
  
  padding: 10px;
  margin-bottom: 100px;
}

.dp {
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

#dp-text:hover {
  text-decoration: none;
}

#headpic {
  float: right;
  border-radius: 15%;
  border: 5px solid whitesmoke;
  max-height: 200px;
  margin: 10px;
  box-shadow: 0 0 25px var(whitesmoke);
  cursor: pointer;
  transition: 0.4s ease-in-out;

}
#headpic:hover {
  box-shadow: 0 0 25px var(rgb(255, 255, 255)), 0 0 50px var(rgba(255, 255, 255, 0.815)),
    0 0 100px var(rgba(255, 255, 255, 0.414));
}

/*Project portfolio*/
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.project {
  background-color: #222;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  
}

.project:hover {
  background-color: #333;
  transform: scale(1.05);
}

.project a {
  color: #eee;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.project p {
  font-size: 14px;
  color: #bbb;
  margin: 0;
}



footer {
  display: flex;
  width:100% ;
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: rgb(15, 15, 15);
  justify-content: center;
  color: #fff;
}
.leetcode-icon {
  fill: white; 
  display: inline-block;
}
.pico-icon {
  fill: white; 
  display: inline-block;
}



/* NAV-BAR*/

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #fffdfd00;
  padding: 10px 10px;
  position: fixed;
  width: 100%;
  top:0;
  backdrop-filter: blur(10px);
  
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 15px;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
}

.header a:hover {
  /*background-color: #ddd;*/
  color: rgb(85, 132, 236);;
  text-decoration: underline;
}

.header a.active {
  background-color: rgb(63, 63, 63);
  color: white;
}

.header-right {
  margin-top: 10px;
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  * {
    margin: 5px;
  }
  h1{
    margin:0px;
    font-size: xx-large;
  }
  
  .header{
    padding:5px 5px;
    border-radius: 10px;
    position: relative;
    margin-right: 10px;
    width:97.5%
  }
  .header a  {
    float: none;
    display: block;
    text-align: left;
    padding: 0px;
  }
  .header-right {
    display:none;
  }
  
  #headpic{
    max-height:150px;
  }
  #headline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    margin-top:50px;
    margin-bottom: 100px;
  }
}
